<div>
    <div class="container" style="margin-top: 20px;">
     <h6 class="About">Rental Attair</h6>
     <p class="Aboutpara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste eligendi placeat temporibus iure? 
        Saepe incidunt mollitia numquam sed nihil maiores, nemo, totam exercitationem explicabo excepturi consectetur.
    
    <div class="row">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">
                        <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt="">
                    </p>
                    
                </div>
                <div class="flip-card-back">
                    <p class="title">BACK</p>
                   <button>About me</button>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">
                        <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt="">
                    </p>
                    
                </div>
                <div class="flip-card-back">
                    <p class="title">BACK</p>
                   <button>About me</button>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">
                        <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt="">
                    </p>
                    
                </div>
                <div class="flip-card-back">
                    <p class="title">BACK</p>
                   <button>About me</button>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">
                        <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt="">
                    </p>
                    
                </div>
                <div class="flip-card-back">
                    <p class="title">BACK</p>
                   <button>About me</button>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">
                        <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt="">
                    </p>
                    
                </div>
                <div class="flip-card-back">
                    <p class="title">BACK</p>
                   <button>About me</button>
                </div>
            </div>
        </div>
        <!-- <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt="">
        <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt="">
        <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt="">
        <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt="">
        <img class="image" src="https://i.pinimg.com/564x/41/62/50/416250f5139f2c410ed9f4cb01ba2640.jpg" alt=""> -->
    </div>


</div>
</div>