<div>
    <h4 class="Socialmedia">Social Media Acounts</h4>
    <div class="container">
     <h6 class="About">About Ourselves</h6>
     <p class="Aboutpara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste eligendi placeat temporibus iure? 
        Saepe incidunt mollitia numquam sed nihil maiores, nemo, totam exercitationem explicabo excepturi consectetur 
        dolorem maxime eius deleniti qui? Nihil error illo saepe labore deserunt nisi harum dolorum placeat magnam. 
        Minus et distinctio tenetur laborum necessitatibus neque, quisquam similique nam delectus fugiat id voluptatum 
        mollitia molestias pariatur adipisci debitis nisi enim est quia aut praesentium itaque nostrum? Veritatis quas 
        ex, provident praesentium exercitationem fugit? Qui, ratione rerum placeat exercitationem sequi vitae, totam atque 
        laboriosam, earum ipsam ipsa maiores eligendi. Aperiam consequuntur earum harum sint iusto quibusdam, dignissimos voluptatibus.</p>
  

    <div>
        <h6 class="Top_designers">Top designers of the month</h6>
    </div>
    <div>
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">
        <!-- <div class="box">
            <div class="body">
                <div class="imgContainer">
                    <img src="https://images.pexels.com/photos/3601422/pexels-photo-3601422.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </div>
                <div class="content d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <h3 class="text-white fs-5">Post Title</h3>
                        <p class="fs-6 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed cum neque, rem provident ex. Laboriosam perspiciatis modi eveniet in?</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    
    <div>
        <h6 class="Highest_Rated">Highest Rated Boutique</h6>
    </div>
    <div>
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">
        <img class="image" src="https://thumbs.dreamstime.com/b/young-fashion-woman-pink-clothes-run-pink-background-full-lenght-front-view-stylish-woman-total-pink-139022646.jpg" alt="">

    </div>


</div>
</div>